<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="database-subset">
      <section name="databases" type="DataSlice.Core.Settings.DatabasesToSubsetConfiguration, DataSlice.Core"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=SSWD8V-SQL002.dev.unitedhealth.local;Initial Catalog=SoftwareManagement;Application Name=Slice;MultipleActiveResultSets=True;User ID=SQLInstaller;Password={devtools-sql-password-UAT};" providerName="System.Data.SqlClient"/>
    <add name="MainSourceDatabase" connectionString="Data Source=SSWD8V-SQL002.dev.unitedhealth.local;Initial Catalog={0};Application Name=Slice;MultipleActiveResultSets=True;User ID=SQLInstaller;Password={devtools-sql-password-UAT};" providerName="System.Data.SqlClient"/>
   
    <add name="MainTargetDatabase" connectionString="Data Source=SSWU9V-SQLTN02.dev.unitedhealth.local;Initial Catalog={0};Application Name=Slice;MultipleActiveResultSets=True;User ID=SQLInstaller;Password={devtools-sql-password-UAT};" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <nlog autoReload="false" throwExceptions="true">

    <targets>
      <target name="file" type="File" layout="${longdate} ${level} ${message} ${exception:format=ToString,StackTrace:maxInnerExceptionLevel=1: innerExceptionSeparator=|: innerFormat=ToString,StackTrace} ${newline}" archiveEvery="Day" maxArchiveFiles="9" FileName="${basedir}\logs\${shortdate}.log" archiveFileName="${basedir}\logs\archive\archive_${shortdate}.{##}.log" archiveNumbering="Rolling"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" enabled="true"/>
    </rules>

  </nlog>

  <appSettings>
    <add key="BulkInsertTimeoutInSeconds" value="300"/>
    <add key="CommandTimeoutInSeconds" value="300"/>
    <add key="BulkCopyBatchSize" value="5000"/>
    <add key="MaxThreadsPerDatabase" value="5"/>
    <add key="DatabaseBackupDirectory" value="C:\DevDbBackUp"/>
    <add key="BackupCommandTimeoutInSeconds" value="1800"/>

  </appSettings>

  <database-subset>
    <databases configSource="database-subset.config"/>
    
  </database-subset>

</configuration>
